.header-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--silver);
    position: fixed;
    z-index: 1;
    transition: top 0.4s;
    box-shadow: 10px 11px 80px -50px rgba(0, 0, 0, 0.62);
}

.header-container.sticky {
    display: flex;
}

.header-container.normal {
    position: relative;
    display: none;
    transform: translateY(0px);
    transition: 0.4s;
}

.header {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.header-image img {
    width: 80%;
}

.menu-items {
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-items li a {
    text-decoration: none;
    font-weight: var(--fw);
    position: relative;
}

.menu-items li a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: var(--black);
    transition: 0.4s;
}

.menu-items li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .menu-items {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .menu-items {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .header-image img {
        width: 50%;
    }

    .header-action {
        display: none;
    }
}