/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ff-primary: "Poppins", serif;
    --ff-secondary: "Playfair Display", serif;
    --h1: 70px;
    --h2: 40px;
    --h3: 20px;
    --h4: 18px;
    --h5: 16px;
    --fw: 600;
    --silver: #f3f4f6;
    --pink: #e63a65;
    --grey: #888888;
    --black: #111111;
    --white: #FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--ff-primary);
    color: var(--black);
}

html, body {
    background-color: var(--silver);
}